[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/Vc"]
	path = external/Vc
	url = git@github.com:VcDevel/Vc.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
